<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <form [formGroup]="form">
            <div class="card">
                <div class="card-body mx-md-4">
                    <div class="card-title text-uppercase text-muted ml-md-n4">
                        <span class="h5">Service Request Form</span>
                        <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
              <i class="fa fa-arrow-left"></i> Back
            </button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Farm</label>
                            <select class="form-control" formControlName="farmId" [class.is-invalid]="farmId.dirty && farmId.invalid">
                                <option *ngFor="let farm of farms$ | async" [ngValue]="farm.id">{{farm.code}}/{{farm.town}}/{{farm.district}}</option>
                              </select>
                            <div class="invalid-feedback" *ngIf="farmId.dirty && farmId.invalid">
                                <div *ngIf="farmId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Service Date</label>
                            <input type="date" class="form-control" formControlName="serviceDate" [class.is-invalid]="serviceDate.dirty && serviceDate.invalid">
                            <div class="invalid-msg" *ngIf="serviceDate.dirty && serviceDate.errors">
                                This field is required
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Service</label>
                            <select class="form-control" formControlName="serviceId" [class.is-invalid]="serviceId.dirty && serviceId.invalid">
                                        <option *ngFor="let service of services$ | async" [ngValue]="service.id">{{service.name}}</option>
                                      </select>
                            <div class="invalid-feedback" *ngIf="serviceId.dirty && serviceId.invalid">
                                <div *ngIf="serviceId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Charge</label>
                            <input type="number" class="form-control" formControlName="charge" [class.is-invalid]="charge.dirty && charge.invalid">
                            <div class="invalid-feedback" *ngIf="charge.dirty && charge.invalid">
                                <div *ngIf="charge.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12">
                            <label>Assigned To</label>
                            <select class="form-control" formControlName="assignedToId" [class.is-invalid]="assignedToId.dirty && assignedToId.invalid">
                        <option *ngFor="let prov of serviceProviders$ | async" [ngValue]="prov.id">{{prov.name}}</option>
                      </select>
                            <div class="invalid-feedback" *ngIf="assignedToId.dirty && assignedToId.invalid">
                                <div *ngIf="assignedToId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-12">
                            <label>Notes</label>
                            <textarea rows="2" class="form-control" formControlName="notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="border-top: 3px solid green;">
                    <button type="submit" class="btn btn-primary-custom border border-dark float-right" [validate-form]="form" (valid)="save(form.value)">
              <i class="fa fa-save"></i> Save
            </button>
                    <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
              <i class="fa fa-close"></i> Cancel
            </button>
                </div>
            </div>
        </form>
    </div>
</div>