<div class="page-header">
    <div class="p-3">
        <span class="p-2 title">Map of Registered Farms</span>
    </div>
</div>
<hr>
<div class="page-content">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <form [formGroup]="form">
                <div class="card">
                    <div class="card-body fixed-height">
                        <div class="form-group">
                            <label>*Number of records to load</label>
                            <input type="number" class="form-control" formControlName="size" [class.is-invalid]="size.dirty && size.invalid">
                            <div class="invalid-feedback" *ngIf="size.dirty && size.invalid">
                                <div *ngIf="size.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Farmer Name</label>
                            <input type="text" class="form-control" formControlName="name" [class.is-invalid]="name.dirty && name.invalid">
                            <div class="invalid-feedback" *ngIf="name.dirty && name.invalid">
                                <div *ngIf="name.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Town</label>
                            <input type="text" class="form-control" formControlName="town" [class.is-invalid]="town.dirty && town.invalid">
                            <div class="invalid-feedback" *ngIf="town.dirty && town.invalid">
                                <div *ngIf="town.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Catchment Area</label>
                            <select class="form-control" formControlName="areaId" [class.is-invalid]="areaId.dirty && areaId.invalid">
                                        <option *ngFor="let d of areas$ | async" [ngValue]="d.id">{{d.name}}</option>
                                      </select>
                            <div class="invalid-feedback" *ngIf="areaId.dirty && areaId.invalid">
                                <div *ngIf="areaId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control" formControlName="districtId" [class.is-invalid]="districtId.dirty && districtId.invalid">
                                <option *ngFor="let d of districts$ | async" [ngValue]="d.id">{{d.name}}</option>
                              </select>
                            <div class="invalid-feedback" *ngIf="districtId.dirty && districtId.invalid">
                                <div *ngIf="districtId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Region</label>
                            <select class="form-control" formControlName="regionId" [class.is-invalid]="regionId.dirty && regionId.invalid">
                                    <option *ngFor="let d of regions$ | async" [ngValue]="d.id">{{d.name}}</option>
                                  </select>
                            <div class="invalid-feedback" *ngIf="regionId.dirty && regionId.invalid">
                                <div *ngIf="regionId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block" type="submit" [validate-form]="form" (valid)="getFarms(form.value)">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="card">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="p.latitude" [longitude]="p.longitude" [label]="'FM'" *ngFor="let p of farms; let i = index">
                        <agm-info-window [disableAutoPan]="true">
                            Code: <strong>{{p.code}}</strong>, Farmer: <strong>{{p.farmer}}</strong>, Number of Acres: <strong>{{p.numberOfAcres}}</strong>, Town: <strong>{{p.town}}</strong>, District: <strong>{{p.district}}</strong>, Region: <strong>{{p.region}}</strong>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>