<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <form [formGroup]="form">
            <div class="card">
                <div class="card-body mx-md-4">
                    <div class="card-title text-uppercase text-muted ml-md-n4">
                        <span class="h5">Farm Form</span>
                        <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
              <i class="fa fa-arrow-left"></i> Back
            </button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12">
                            <label>Farmer</label>
                            <select class="form-control" formControlName="farmerId" [class.is-invalid]="farmerId.dirty && farmerId.invalid">
                                <option *ngFor="let f of farmers$ | async" [ngValue]="f.id">{{f.name}}</option>
                              </select>
                            <div class="invalid-feedback" *ngIf="farmerId.dirty && farmerId.invalid">
                                <div *ngIf="farmerId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>District</label>
                            <select class="form-control" formControlName="districtId" [class.is-invalid]="districtId.dirty && districtId.invalid">
                            <option *ngFor="let d of districts$ | async" [ngValue]="d.id">{{d.name}}</option>
                          </select>
                            <div class="invalid-feedback" *ngIf="districtId.dirty && districtId.invalid">
                                <div *ngIf="districtId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Town</label>
                            <input type="text" class="form-control" formControlName="town" [class.is-invalid]="town.dirty && town.invalid">
                            <div class="invalid-feedback" *ngIf="town.dirty && town.invalid">
                                <div *ngIf="town.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Location</label>
                            <input type="text" class="form-control" formControlName="location" [class.is-invalid]="location.dirty && location.invalid">
                            <div class="invalid-feedback" *ngIf="location.dirty && location.invalid">
                                <div *ngIf="location.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Ghana Post GPS</label>
                            <input type="text" class="form-control" formControlName="ghanaPostGps" [class.is-invalid]="ghanaPostGps.dirty && ghanaPostGps.invalid">
                            <div class="invalid-feedback" *ngIf="ghanaPostGps.dirty && ghanaPostGps.invalid">
                                <div *ngIf="ghanaPostGps.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Number of Acres</label>
                            <input type="number" class="form-control" formControlName="numberOfAcres" [class.is-invalid]="numberOfAcres.dirty && numberOfAcres.invalid">
                            <div class="invalid-feedback" *ngIf="numberOfAcres.dirty && numberOfAcres.invalid">
                                <div *ngIf="numberOfAcres.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Longitude</label>
                            <input type="number" class="form-control" formControlName="longitude" [class.is-invalid]="longitude.dirty && longitude.invalid">
                            <div class="invalid-feedback" *ngIf="longitude.dirty && longitude.invalid">
                                <div *ngIf="longitude.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Latitude</label>
                            <input type="number" class="form-control" formControlName="latitude" [class.is-invalid]="latitude.dirty && latitude.invalid">
                            <div class="invalid-feedback" *ngIf="latitude.dirty && latitude.invalid">
                                <div *ngIf="latitude.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="border-top: 3px solid green;">
                    <button type="submit" class="btn btn-primary-custom border border-dark float-right" [validate-form]="form" (valid)="save(form.value)">
              <i class="fa fa-save"></i> Save
            </button>
                    <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
              <i class="fa fa-close"></i> Cancel
            </button>
                </div>
            </div>
        </form>
    </div>
</div>