<div class="login-body">
    <div class="container d-flex align-content-center" style="background-size: auto;">
        <div class="shadow-sm mx-auto login-card col" style="height: 430px;background-color: #ffffff;border-style: solid;border-color: #28a745;/*border-width: 1px;*/border-radius: 5px;max-width: 400px;position: relative;/*z-index: 20;*/margin-top: 10px;padding-top: 25px;padding-bottom: 25px;">

            <p class="profile-name-card" style="font-family: quicksand;font-size: 11px;margin-top: 0px;">Bankyekrom Admin! Please login.</p>
            <form class="form-signin" style="margin-top: 20px;" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <span class="reauth-email"> </span>
                <label class="text-uppercase" style="color: #666666;font-size: 12px;font-family: Quicksand, sans-serif;font-weight: bold;">Username</label>
                <input class="shadow-none form-control form-control-sm float-none my-auto" type="text" name="username" id="username" style="max-width: 500px;height: 30px;" formControlName="username">

                <label class="text-uppercase" style="color: #666666;font-size: 12px;font-family: Quicksand, sans-serif;font-weight: bold;margin-top: 20px;">PASSWORD</label>
                <input class="shadow-none form-control form-control-sm my-auto" type="password" name="password" id="password" style="margin-top: 0px;height: 30px;max-width: 500px;" formControlName="password">

                <div class="d-xl-flex align-items-xl-center checkbox" style="margin-top: 15px;">
                    <div class="custom-control custom-control-inline custom-checkbox" style="margin-top: 0px;width: auto;height: auto;"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label m-auto align-items-xl-center" for="formCheck-1" style="padding-top: 0;font-size: 14px;">Remember me</label></div>
                </div>
                <button class="btn btn-primary text-uppercase border border-dark shadow d-xl-flex mx-auto justify-content-xl-center mr-auto mt-4" type="submit" style="height: 45px;font-family: Quicksand, sans-serif;" [disabled]="!loginForm.valid" *ngIf="!loading">LOGIN</button>
                <button class="btn btn-primary border border-dark btn-block mt-4" disabled *ngIf="loading">
                    <i class="fa fa-spinner fa-spin"></i> Authenticating
                </button>
            </form>
        </div>
    </div>
</div>