<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <form [formGroup]="form">
            <div class="card">
                <div class="card-body mx-md-4">
                    <div class="card-title text-uppercase text-muted ml-md-n4">
                        <span class="h5">Service Provider Form</span>
                        <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
              <i class="fa fa-arrow-left"></i> Back
            </button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12">
                            <label>Service Provider Name</label>
                            <input type="text" class="form-control" formControlName="name" [class.is-invalid]="name.dirty && name.invalid">
                            <div class="invalid-feedback" *ngIf="name.dirty && name.invalid">
                                <div *ngIf="name.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Contact Person</label>
                            <input type="text" class="form-control" formControlName="contactPerson" [class.is-invalid]="contactPerson.dirty && contactPerson.invalid">
                            <div class="invalid-feedback" *ngIf="contactPerson.dirty && contactPerson.invalid">
                                <div *ngIf="contactPerson.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" formControlName="phoneNumber" [class.is-invalid]="phoneNumber.dirty && phoneNumber.invalid">
                            <div class="invalid-feedback" *ngIf="phoneNumber.dirty && phoneNumber.invalid">
                                <div *ngIf="phoneNumber.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Email</label>
                            <input type="text" class="form-control" formControlName="email" [class.is-invalid]="email.dirty && email.invalid">
                            <div class="invalid-feedback" *ngIf="email.dirty && email.invalid">
                                <div *ngIf="email.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label>District</label>
                            <select class="form-control" formControlName="districtId" [class.is-invalid]="districtId.dirty && districtId.invalid">
                                        <option *ngFor="let district of districts$ | async" [ngValue]="district.id">{{district.name}}</option>
                                      </select>
                            <div class="invalid-feedback" *ngIf="districtId.dirty && districtId.invalid">
                                <div *ngIf="districtId.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Town</label>
                            <input type="text" class="form-control" formControlName="town" [class.is-invalid]="town.dirty && town.invalid">
                            <div class="invalid-feedback" *ngIf="town.dirty && town.invalid">
                                <div *ngIf="town.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Ghana Post GPS</label>
                            <input type="text" class="form-control" formControlName="ghanaPostGps" [class.is-invalid]="ghanaPostGps.dirty && ghanaPostGps.invalid">
                            <div class="invalid-feedback" *ngIf="ghanaPostGps.dirty && ghanaPostGps.invalid">
                                <div *ngIf="ghanaPostGps.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Longitude</label>
                            <input type="number" class="form-control" formControlName="longitude" [class.is-invalid]="longitude.dirty && longitude.invalid">
                            <div class="invalid-feedback" *ngIf="longitude.dirty && longitude.invalid">
                                <div *ngIf="longitude.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Latitude</label>
                            <input type="number" class="form-control" formControlName="longitude" [class.is-invalid]="longitude.dirty && longitude.invalid">
                            <div class="invalid-feedback" *ngIf="longitude.dirty && longitude.invalid">
                                <div *ngIf="longitude.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-12">
                            <label>Address</label>
                            <textarea rows="2" class="form-control" formControlName="address"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12">
                            <label>Services</label>
                            <select class="form-control" multiple formControlName="serviceIds" [class.is-invalid]="serviceIds.dirty && serviceIds.invalid">
                                        <option *ngFor="let serv of services$ | async" [ngValue]="serv.id">
                                         {{ serv.name }}
                                        </option>
                                      </select>
                            <div class="invalid-feedback" *ngIf="serviceIds.dirty && serviceIds.invalid">
                                <div *ngIf="serviceIds.errors.required">
                                    This field is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="border-top: 3px solid green;">
                    <button type="submit" class="btn btn-primary-custom border border-dark float-right" [validate-form]="form" (valid)="save(form.value)">
              <i class="fa fa-save"></i> Save
            </button>
                    <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
              <i class="fa fa-close"></i> Cancel
            </button>
                </div>
            </div>
        </form>
    </div>
</div>