<div class="row">
    <div class="col-sm-12">
        <filter class="float-left" placeholder="Search by farmer name" label="name" [model]="name" (search)="getFarms($event)" [filter]="filter">
            <div class="form-group">
                <input type="text" class="form-control" name="town" placeholder="Town" [(ngModel)]="filter.town">
            </div>
            <div class="form-group">
                <ng-select [items]="districts$ | async" bindLabel="name" bindValue="id" placeholder="Select District" [clearable]="true" [(ngModel)]="filter.districtId">
                </ng-select>
            </div>
            <div class="form-group">
                <ng-select [items]="regions$ | async" bindLabel="name" bindValue="id" placeholder="Select Region" [clearable]="true" [(ngModel)]="filter.regionId">
                </ng-select>
            </div>
        </filter>
        <button type="button" class="btn btn-primary-custom border border-dark float-right" routerLink="form" appAuthorize="CanManageFarms">New
      Farm</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="table-responsive-sm">
                <table class="table">
                    <thead>
                        <tr style="border-bottom: 3px solid green;">
                            <th>#</th>
                            <th>Farmer</th>
                            <th>Phone</th>
                            <th>Farm Code</th>
                            <th>Num. of Acres</th>
                            <th>Town</th>
                            <th>Location</th>
                            <th>District</th>
                            <th>Region</th>
                            <th>Requests</th>
                            <th>Seasons</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let farm of farms$ | async; let i = index">
                            <td>{{((currentPage - 1) * size) + i + 1}}</td>
                            <td>{{farm.farmer}}</td>
                            <td>{{farm.phoneNumber}}</td>
                            <td>{{farm.code}}</td>
                            <td>{{farm.numberOfAcres}}</td>
                            <td>{{farm.town}}</td>
                            <td>{{farm.location}}</td>
                            <td>{{farm.district}}</td>
                            <td>{{farm.region}}</td>
                            <td>{{farm.requests}}</td>
                            <td>{{farm.seasons}}</td>
                            <td>
                                <a class="pointer" (click)="view(farm.id)"><i class="fa fa-eye"></i></a> &nbsp;
                                <a class="pointer" (click)="editForm(farm.id)" appAuthorize="CanManageFarms"><i class="fa fa-edit"></i></a> &nbsp;
                                <a class="pointer text-danger" (click)="delete(farm.id)" appAuthorize="CanManageFarms"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <div class="input-group mb-3 float-left">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Records per page</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="size" (ngModelChange)="pageSizeChangeEvent()">
        <option *ngFor="let size of pageSizes" [ngValue]="size">{{size}}</option>
      </select>
        </div>
    </div>
    <div class="col">
        <ngb-pagination class="float-right" [(page)]="currentPage" [pageSize]="size" [collectionSize]="totalRecords" [maxSize]="5" (pageChange)="pageChanged($event)"></ngb-pagination>
    </div>
</div>