<div class="page-header">
    <div class="header-content">
        <h5><span class="text-uppercase text-dark">Bankyekrom</span> <span class="mx-3 text-muted">|</span> Admin Console
        </h5>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Registered Farmers</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-tree fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Registered Farms</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-leaf fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Active Seasons</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">128</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4 class="h4 mb-0 text-gray-800">
            Statistics and Analysis for 2019
        </h4>
        <div class="form-group d-none d-sm-inline-block shadow-sm">
            <select class="form-control btn-success">
                                    <option  value="">2019</option>
                                  </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card shadow mb-4" style="width: -webkit-fill-available;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Registerd Farmers Statistics</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 centered">
                            <i class="fa fa-male fa-2x"></i>
                        </div>
                        <div class="col-6 centered">
                            <i class="fa fa-female fa-2x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 centered">
                            <div class="font-11 text-muted mb-1">Number of Male Farmers</div>
                            <div class="h5 text-secondary ml-2">{{ 128 | number}}</div>
                        </div>
                        <div class="col-6 centered">
                            <div class="font-11 text-muted mb-1">Number of Female Farmers</div>
                            <div class="h5 text-secondary ml-2">{{ 156 | number}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 centered">
                            <div class="font-11 text-muted mb-1">Average Age</div>
                            <div class="h5 text-secondary ml-2">{{ 35.6 | number:'1.0-2'}}</div>
                        </div>
                        <div class="col-6 centered">
                            <div class="font-11 text-muted mb-1">Average Age</div>
                            <div class="h5 text-secondary ml-2">{{ 32 | number:'1.0-2'}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 centered">
                            <div class="font-11 text-muted mb-1">Average Land Area</div>
                            <div class="h5 text-secondary">{{ 2.34 | number:'1.0-2'}} ha</div>
                        </div>
                        <div class="col-6 centered">
                            <div class="font-11 text-muted mb-1">Average Land Area</div>
                            <div class="h5 text-secondary">{{ 1.45 | number:'1.0-2'}} ha</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4" style="width: -webkit-fill-available;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Varieties Against Land Size</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                                  <i class="fas fa-circle text-success"></i> Direct
                                </span>
                        <span class="mr-2">
                                  <i class="fas fa-circle text-success"></i> Social
                                </span>
                        <span class="mr-2">
                                  <i class="fas fa-circle text-info"></i> Referral
                                </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Active Planting Seasons</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">(81 - 100)% Matured <span class="float-right">10%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">(61 - 80)% Matured <span class="float-right">30%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">(41 - 60)% Matured <span class="float-right">15%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">(21 - 40)% Matured <span class="float-right">25%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">(0 - 20)% Matured <span class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Projected Harvests</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>