<div class="page-header">
    <div class="header-content">
        <h5><span class="text-uppercase text-dark">Bankyekrom</span> <span class="mx-3 text-muted">|</span> Admin Console
        </h5>
    </div>
</div>

<div class="container-fluid">

    <div class="row" *blockUI="'generalstats'">
        <ng-container *ngIf="generalStats$ | async as gs">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Total Registered Farmers</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{gs.registeredFarmers | number}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-tree fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Total Registered Farms</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{gs.registeredFarms | number}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-leaf fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Active Seasons</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{gs.activeSeasons | number}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Pending Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{gs.pendingRequests | number}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <hr/>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4 class="h4 mb-0 text-gray-800">
            Statistics and Analysis for {{year}}
        </h4>
        <div class="form-group d-none d-sm-inline-block shadow-sm">
            <select class="form-control btn-success" [(ngModel)]="year" (ngModelChange)="yearOnChange()">
                                    <option *ngFor="let f of years" [ngValue]="f">{{f}}</option>
                                  </select>
        </div>
    </div>

    <div class="row" *blockUI="'yearlystats'">
        <ng-container *ngIf="yearlyStats$ | async as ys">
            <div class="col-sm-12 col-md-4">
                <div class="card shadow mb-4" style="width: -webkit-fill-available;">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Registered Farmers Statistics</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 centered">
                                <i class="fa fa-male fa-2x"></i>
                            </div>
                            <div class="col-6 centered">
                                <i class="fa fa-female fa-2x"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 centered">
                                <div class="font-11 text-muted mb-1">Number of Male Farmers</div>
                                <div class="h5 text-secondary ml-2">{{ ys.farmerStats.numberOfMaleFarmers | number}}</div>
                            </div>
                            <div class="col-6 centered">
                                <div class="font-11 text-muted mb-1">Number of Female Farmers</div>
                                <div class="h5 text-secondary ml-2">{{ ys.farmerStats.numberOfFemaleFarmers | number}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 centered">
                                <div class="font-11 text-muted mb-1">Average Age</div>
                                <div class="h5 text-secondary ml-2">{{ ys.farmerStats.averageMaleAge | number:'1.0-2'}}</div>
                            </div>
                            <div class="col-6 centered">
                                <div class="font-11 text-muted mb-1">Average Age</div>
                                <div class="h5 text-secondary ml-2">{{ ys.farmerStats.averageFemaleAge | number:'1.0-2'}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 centered">
                                <div class="font-11 text-muted mb-1">Average Land Area</div>
                                <div class="h5 text-secondary">{{ ys.farmerStats.averageMaleLandArea | number:'1.0-2'}} ha</div>
                            </div>
                            <div class="col-6 centered">
                                <div class="font-11 text-muted mb-1">Average Land Area</div>
                                <div class="h5 text-secondary">{{ ys.farmerStats.averageFemaleLandArea | number:'1.0-2'}} ha</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4" style="width: -webkit-fill-available;">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Varieties Against Land Size Chart</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                  <i class="fas fa-circle text-success"></i> Direct
                                </span>
                            <span class="mr-2">
                                  <i class="fas fa-circle text-success"></i> Social
                                </span>
                            <span class="mr-2">
                                  <i class="fas fa-circle text-info"></i> Referral
                                </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Active Planting Seasons</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">(81 - 100)% Matured <span class="float-right">{{((ys.seasonsStats.s81to100 * 100)/ys.seasonsStats.totalSeasons)}}%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="(ys.seasonsStats.s81to100 * 100)/ys.seasonsStats.totalSeasons" aria-valuemin="0" aria-valuemax="100">{{ys.seasonsStats.s81to100}}</div>
                        </div>
                        <h4 class="small font-weight-bold">(61 - 80)% Matured <span class="float-right">{{((ys.seasonsStats.s61to80 * 100)/ys.seasonsStats.totalSeasons)}}%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-info" role="progressbar" [style.width.%]="(ys.seasonsStats.s61to80 * 100)/ys.seasonsStats.totalSeasons" aria-valuemin="0" aria-valuemax="100">{{ys.seasonsStats.s61to80}}</div>
                        </div>
                        <h4 class="small font-weight-bold">(41 - 60)% Matured <span class="float-right">{{((ys.seasonsStats.s41to60 * 100)/ys.seasonsStats.totalSeasons)}}%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="(ys.seasonsStats.s41to60 * 100)/ys.seasonsStats.totalSeasons" aria-valuemin="0" aria-valuemax="100">{{ys.seasonsStats.s41to60}}</div>
                        </div>
                        <h4 class="small font-weight-bold">(21 - 40)% Matured <span class="float-right">{{((ys.seasonsStats.s21to40 * 100)/ys.seasonsStats.totalSeasons)}}%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" [style.width.%]="(ys.seasonsStats.s21to40 * 100)/ys.seasonsStats.totalSeasons" aria-valuemin="0" aria-valuemax="100">{{ys.seasonsStats.s21to40}}</div>
                        </div>
                        <h4 class="small font-weight-bold">(0 - 20)% Matured <span class="float-right">{{((ys.seasonsStats.s0to20 * 100)/ys.seasonsStats.totalSeasons)}}%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="(ys.seasonsStats.s0to20 * 100)/ys.seasonsStats.totalSeasons" aria-valuemin="0" aria-valuemax="100">{{ys.seasonsStats.s0to20}}</div>
                        </div>
                        <!-- <ng-container *ngFor="let record of summary.percentageSummary">
                            <div class="text-muted font-11">
                                <span>{{record.name}}</span>
                                <span class="float-right">{{record.count}}</span>
                            </div>
                            <div class="progress progress-height mb-3">
                                <div class="progress-bar" role="progressbar" [ngClass]="setProgressColor(record.percentage)" [style.width.%]="record.percentage" aria-valuemin="0" aria-valuemax="100">{{record.percentage}}%</div>
                            </div>
                        </ng-container> -->
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Projected Harvests Chart</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>